* {
  box-sizing: border-box;
}

.container {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

/* Header */
.header {
  padding-top: 25px;
  padding-bottom: 25px;
  width: 100%;
}

.header-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav {
  display: flex;
  align-items: center;
  gap: 45px;
}

.nav-link {
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  line-height: 32px;
  color: black;
  cursor: pointer;
  transition: color 0.3s ease;
}

.nav-link:hover {
  color: hsl(0, 94%, 66%);
}

.header-btn-login {
  background-color: hsl(0, 94%, 66%);
  font-size: 18px;
  border-radius: 5px;
  text-decoration: none;
  color: #fff;
  display: inline-block;
  border: none;
  outline: none;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease, border 0.3s ease;
}

.header-btn-login:hover {
  background-color: #fff;
  transform: scale(1.05);
  color: hsl(0, 94%, 66%);
  border: 2px solid hsl(0, 94%, 66%);
}

.hamburger-menu {
  display: none;
}
/* Header end*/

/* Bookmark Manager */
.hero {
  padding-top: 25px;
  padding-bottom: 25px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
}

.hero-title {
  font-size: 40px;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 20px;
  display: inline-flex;
}

.hero-content {
  color: rgb(167, 173, 173);
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 30px;
  /* width: 400px; */
  /* width: 55%; */
}

.hero-btn-container {
  display: flex;
  gap: 20px;
}
.hero-btn {
  background-color: hsl(231, 69%, 60%);
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  margin-right: 15px;
  transition: background-color 0.3s ease, transform 0.3s ease, border 0.3s ease;
}

.hero-btn:hover {
  background-color: #fff;
  transform: scale(1.05);
  color: hsl(231, 69%, 60%);
  border: 2px solid hsl(231, 69%, 60%);
}

.hero-picpart {
  position: relative;
  z-index: 0;
}

.hero div:first-child {
  position: relative;
  z-index: 1;
}

.bookmark-manager {
  display: flex;
  justify-content: space-between;
}

.bookmark-incription {
  max-width: 40%;
}

.hero-bg {
  background-color: hsl(231, 69%, 60%);
  z-index: 0;
  height: 80%;
  width: 70%;
  border-top-left-radius: 300px;
  border-bottom-left-radius: 300px;
  position: absolute;
  right: 0;
  bottom: 0;
}

.hero-img {
  z-index: 1;
  position: relative;
}

/* Bookmark Manager end */

/* Features */
.features {
  padding: 50px 0;
  display: flex;
  text-align: center;
  justify-content: center;
  margin-bottom: 100px;
}

.tabs {
  position: relative;
}

.features-incription {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.features-title {
  font-size: 40px;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 20px;
}

.features-content {
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 40px;
  max-width: 60%;
  color: #777;
}

.features-tabs {
  display: flex;
  justify-content: center;
  font-size: 18px;
  gap: 50px;
}

.features-tab {
  cursor: pointer;

  position: relative;
}

.divider {
  position: absolute;
  height: 3px;
  background-color: orange;
  transition: left 0.3s ease, width 0.3s ease;
}

/* Features end*/

/* On click */

.onclick {
  display: none;
  width: 100%;
  flex-wrap: wrap;
}

.onclick.active {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
}

.onclick-title {
  color: #070707;
  font-size: 40px;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 20px;
  display: inline-flex;
}

.onclick-content {
  color: rgb(167, 173, 173);
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 30px;
}

.onclick-btn {
  background-color: hsl(231, 69%, 60%);
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  /* margin-right: 15px; */
  transition: background-color 0.3s ease, transform 0.3s ease, border 0.3s ease;
}

.onclick-btn:hover {
  background-color: #fff;
  transform: scale(1.05);
  color: hsl(231, 69%, 60%);
  border: 2px solid hsl(231, 69%, 60%);
}

.onclick-inscription {
  max-width: 40%;
}
.onclick-illustrations {
  position: relative;
  display: flex;
  gap: 30px;
}

.onclick-bg {
  position: absolute;
  left: 0;
  background-color: hsl(231, 69%, 60%);
  z-index: 0;
  height: 100%;
  width: 90%;
  border-top-right-radius: 300px;
  border-bottom-right-radius: 300px;
}

.onclick-img {
  z-index: 2;
  transform: translate(40px, -40px);

  width: 100%;
}

/* On click end */

/* Extensions */

.extensions-container {
  padding-top: 100px;
  display: flex;
  text-align: center;
  justify-content: center;
  margin-bottom: 100px;
}

.ext-text {
  font-size: 25px;
  font-weight: 700;
  line-height: 1.2;
}

.ext-text p {
  font-size: large;
  color: rgb(167, 173, 173);
  max-width: 500px;
}

.extensions-inner {
  margin: auto;
  text-align: center;
  max-width: 1000px;
  display: flex;
  justify-content: space-between;
}

.extensions-inner p {
  font-size: 17;
  color: rgb(167, 173, 173);
}

.logo {
  padding-top: 50px;
}

.dots {
  max-width: 300px;
  padding-top: 10px;
  padding-bottom: 35px;
}

.chrome,
.firefox,
.opera {
  max-width: 300px;
  height: 350px;
  box-sizing: border-box;
  border-radius: 5%;
  font-size: 10;
  text-align: center;
  box-shadow: 0px 8px 5px rgba(199, 199, 199, 0.418),
    -5px 8px 5px rgba(199, 199, 199, 0.418),
    5px 8px 5px rgba(199, 199, 199, 0.418);
}

.firefox {
  margin-top: 40px;
  margin-left: 30px;
}

.opera {
  margin-top: 80px;
  margin-left: 30px;
}

.install-btn {
  max-width: 250px;
  max-height: 60px;
  padding: 10px;
  padding-left: 30px;
  padding-right: 30px;
  background-color: rgba(0, 0, 255, 0.671);
  border-radius: 5%;
  color: white;
  font-size: 15px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease, border 0.3s ease;
}

.install-btn:hover {
  background-color: #fff;
  transform: scale(1.05);
  color: hsl(231, 69%, 60%);
  border: 2px solid hsl(231, 69%, 60%);
}

/* Extensions End*/

/* FAQ */

.faq-container {
  padding-top: 100px;
  display: flex;
  text-align: center;
  justify-content: center;
  margin-bottom: 100px;
  flex-direction: column;
}

.faq-container div:nth-last-child(2) {
  border-bottom: 1px solid;
  margin-bottom: 50px;
}

.faq-text {
  text-align: center;
  padding-top: 100px;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.2;
}

.faq-text p {
  text-align: center;
  font-size: 16px;
  color: rgb(167, 173, 173);
  max-width: 450px;
  margin: auto;
  padding-bottom: 50px;
}

.faq-item {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 450px;
}

.faq-question {
  display: flex;
  align-items: center;
  background-color: #fff;
  color: #000;
  height: 50px;
  border-top: 1px solid black;
  border-left: none;
  border-right: none;
  border-bottom: none;
  text-align: left;
  cursor: pointer;
  transition: color 0.3s ease;
  justify-content: space-between;
}

.rotated {
  transform: rotate(180deg);
}

.orange {
  stroke: hsl(0, 94%, 66%);
}

.faq-question:hover {
  color: hsl(0, 94%, 66%);
}

.faq-answer {
  display: none;
  color: rgb(167, 173, 173);
}

.faq-answer-show {
  display: block;
}

#FAQ-btn {
  margin: auto;
}

/* FAQ End*/

/* Subscribe */

.subscribe-container {
  text-align: center;
  background-color: hsl(231, 69%, 60%);
  color: #fff;
  padding: 20px;
  width: 100%;
}

.subscribe-inner {
  max-width: 400px;
  margin: auto;
}

.error-message {
  display: none;
  color: #fa5959;
  margin-top: 5px;
  font-size: 14px;
}

#error-icon {
  display: inline-block;
  vertical-align: middle;
  margin-right: 5px;
}

#error-icon svg {
  width: 20px;
  height: 20px;
  vertical-align: middle;
}

#email-input.error {
  border: 2px solid #fa5959;
}

/* Subscribe End */

/* Footer */

.footer {
  display: flex;
  flex-direction: row;
  padding: 25px;
  background-color: rgb(35, 43, 77);
  color: #fff;
  width: 100%;
}

.footer-inner {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}

.footer-nav {
  display: flex;
  align-items: center;
}
.nav-footer {
  display: flex;
}

.nav-link-footer {
  margin-left: 40px;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  line-height: 32px;
  color: rgb(255, 255, 255);
  cursor: pointer;
  transition: color 0.3s ease;
}

.nav-link-footer:hover {
  color: hsl(0, 94%, 66%);
}

.footer-icon {
  display: flex;
  /* padding-left: 550px; */
  justify-content: space-between;
  gap: 30px;
}

#svg-path {
  transition: fill 0.3s ease;
}

#svg-path:hover {
  fill: hsl(0, 94%, 66%);
}

/* Footer End */

/* Mobile */

@media screen and (max-width: 1050px) {
  .bookmark-manager {
    flex-direction: column;
    align-items: center;
  }

  .bookmark-incription {
    order: 2;
    min-width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
  }

  .onclick-inscription {
    max-width: unset;
    text-align: center;
    width: 100%;
  }
  .hero-picpart {
    width: 100%;
  }

  .hero-bg {
    width: 70%;
  }
}

@media screen and (max-width: 850px) {
  .firefox,
  .opera {
    margin: 0;
  }
  .extensions-inner {
    flex-direction: column;
    gap: 30px;
    align-items: center;
  }
}

@media screen and (max-width: 680px) {
  /* .onclick-img, */
  .hero-img {
    width: 100%;
  }

  .features-content {
    max-width: 100%;
  }

  .features-tabs {
    flex-direction: column;
  }

  .sub-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .footer-inner {
    flex-direction: column;
    align-items: center;
  }
  .footer-nav {
    flex-direction: column;
    align-items: center;
  }

  .nav-links-footer {
    margin: 10px 0px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 30px;
  }
}

@media screen and (max-width: 650px) {
  .nav-link,
  .header-btn-login {
    display: none;
  }
  .hamburger-menu {
    display: block;
    cursor: pointer;
  }
}

@media screen and (max-width: 470px) {
  .faq-item {
    width: 100%;
  }
}
