* {
    box-sizing: border-box;
  }

  .container {
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
}

 /* Header */
 .header {
    padding-top: 25px;
    padding-bottom: 25px;
 }

 .header-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
 }

.nav {
    display: flex;
    align-items: center;
    gap: 45px;
}

.nav-link {
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    line-height: 32px;
    color: black;
    cursor: pointer;
    transition: color 0.3s ease;
}

.nav-link:hover {
    color: hsl(0, 94%, 66%);
}

 .header-btn-login {
    background-color: hsl(0, 94%, 66%);
    font-size: 18px;
    border-radius: 5px;
    text-decoration: none;
    color: #fff;
    display: inline-block;
    border: none;
    outline: none;
    padding: 10px 20px; 
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease, border 0.3s ease;
 }

 .header-btn-login:hover {
    background-color: #fff;
    transform: scale(1.05);
    color: hsl(0, 94%, 66%);
    border: 2px solid hsl(0, 94%, 66%);
 }
/* Header end*/

/* Header mobile */

@media (max-width:375px) {
    .header {
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .header-inner {
        flex-direction: column;
    }

    .nav {
        flex-direction: column;
        gap: 15px;
    }

    .nav-link {
        font-size: 14px;
        line-height: 20px;
    }

    .header-btn-login  {
        font-size: 14px;
        padding: 6px 12px;
    }

}

/* Header mobile end */

/* Bookmark Manager */
 .hero {
    padding-top: 25px;
    padding-bottom: 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
 } 

 .hero-title {
    font-size: 40px;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 20px;
 }

 .hero-content {
    color: rgb(167, 173, 173);
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 30px;
    width: 400px;
 }

.hero-btn{
    background-color: hsl(231, 69%, 60%);
    color:#fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin-right: 15px;
    transition: background-color 0.3s ease, transform 0.3s ease, border 0.3s ease;
}

.hero-btn:hover {
    background-color: #fff;
    transform: scale(1.05);
    color: hsl(231, 69%, 60%);
    border: 2px solid hsl(231, 69%, 60%);
}

.hero-picpart {
    position: relative;
    z-index: 0;
    width: 50%;
    height: 600px;
}

.hero div:first-child {
    position: relative;
    z-index: 1;
}

.hero-bg {
    background-color: hsl(231, 69%, 60%);
    z-index: 0;
    height: 300px;
    width: 600px;
    border-top-left-radius: 300px;
    border-bottom-left-radius: 300px;
    position: absolute;
    top: 70%; 
    transform: translateY(-50%); 
    right: -200px;
}

/* .hero-bg {
    background-color: hsl(231, 69%, 60%);
    z-index: 0;
    height: 300px;
    width: 600px;
    border-top-left-radius: 300px;
    border-bottom-left-radius: 300px;
} */

.hero-img {
    max-width: 80%;
    height: auto;
    z-index: 1; 
    position: absolute;
    top: 50%; 
    transform: translateY(-50%); 
    margin-left: 50px; 
}

/* .hero-img {
    max-width: 80%;
    z-index: 1; 
    position: absolute;
    right: 200px;
    top: 150px;
} */
/* Bookmark Manager end */


/* Features */
.features {
    padding: 50px 0;
    display: flex;
    text-align: center;
    justify-content: center;
    margin-bottom: 100px;
}

.tabs {
    position: relative;
}

.features-title {
    font-size: 40px;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 20px;
}

.features-content {
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 40px;
    width: 600px;
    color: #777;
}

.features-tabs {
    display: flex;
    justify-content: center;
    font-size: 18px;
    gap: 50px;
}

.features-tab {
    cursor: pointer;
}

.divider {
    position: absolute;
    height: 3px;
    background-color: orange;
    transition: left 0.3s ease, width 0.3s ease;
}
/* Features end*/

/* On click */

.onclick {
    display: none;
 }

.onclick.active {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
  }
  
  .onclick-title {
    color: #070707;
    font-size: 40px;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 20px;
  }
  
  .onclick-content {
    color: rgb(167, 173, 173);
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 30px;
    width: 500px;
  }
  
  .onclick-btn {
    background-color: hsl(231, 69%, 60%);
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin-right: 15px;
    transition: background-color 0.3s ease, transform 0.3s ease, border 0.3s ease;
  }
  
  .onclick-btn:hover {
    background-color: #fff;
    transform: scale(1.05);
    color: hsl(231, 69%, 60%);
    border: 2px solid hsl(231, 69%, 60%);
  }
  
  .onclick div:first-child {
    position: relative;
    z-index: 1;
  }
  
  .onclick-bg {
    background-color: hsl(231, 69%, 60%);
    z-index: 0;
    height: 300px;
    width: 600px;
    border-top-right-radius: 300px;
    border-bottom-right-radius: 300px;
  }
  
  .onclick-img {
    z-index: 1;
    position: absolute;
    top: -100px;
    right: -100px;
    max-width: 80%;
  }
/* On click end */

/* Extensions */

.extensions-container {
    padding-top: 100px;
    display: flex;
    text-align: center;
    justify-content: center;
    margin-bottom: 100px;
}

.ext-text {
    font-size: 25px;
    font-weight: 700;
    line-height: 1.2;
}
.ext-text p {
    font-size: large;
    color: rgb(167, 173, 173);
    max-width: 500px;
}

.extensions-inner {
    margin: auto;
    text-align: center;
    max-width: 1000px;
    display: flex;
    justify-content: space-between;
}

.extensions-inner p {
    font-size: 17;
    color: rgb(167, 173, 173); 
}

.logo {
    padding-top: 50px;
}

.dots{
    max-width:300px;
    padding-top: 10px;
    padding-bottom: 35px;
}

.chrome,
.firefox,
.opera {
    max-width: 300px;
    height: 350px;
    box-sizing: border-box;
    border-radius: 5%;
    font-size: 10;
    text-align: center;
    box-shadow: 0px 8px 5px rgba(199, 199, 199, 0.418), 
        -5px 8px 5px rgba(199, 199, 199, 0.418), 
        5px 8px 5px rgba(199, 199, 199, 0.418);
}
.firefox {
    margin-top: 40px;
    margin-left: 30px;
}
.opera {
    margin-top: 80px;
    margin-left: 30px;
}

.install-btn {
    max-width: 250px;
    max-height: 60px;
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
    background-color: rgba(0, 0, 255, 0.671);
    border-radius: 5%;
    color: white;
    font-size: 15px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease, border 0.3s ease;  
}

.install-btn:hover {
    background-color: #fff;
    transform: scale(1.05);
    color: hsl(231, 69%, 60%);
    border: 2px solid hsl(231, 69%, 60%);
  }

  /* Extensions End*/

  /* FAQ */

.faq-container {
    padding-top: 100px;
    display: flex;
    text-align: center;
    justify-content: center;
    margin-bottom: 100px;
    flex-direction: column;
    
}
.faq-container div:nth-last-child(2) {
    border-bottom: 1px solid;
    margin-bottom: 50px;
  }

.faq-text {
    text-align: center;
    padding-top: 100px;
    font-size: 20px;
    font-weight: 700;
    line-height: 1.2;
}
.faq-text p {
    text-align: center;
    font-size: 16px;
    color: rgb(167, 173, 173);
    max-width: 450px;
    margin: auto;
    padding-bottom: 50px;
}

.faq-item {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 450px;
}

.faq-question {
    display: flex;
    align-items: center;
    background-color: #fff;
    color: #000;
    height: 50px;
    border-top: 1px solid black;
    border-left: none;
    border-right: none;
    border-bottom: none;
    text-align: left;
    cursor: pointer;
    transition: color 0.3s ease;
    justify-content: space-between;
    
}

.rotated {
    transform: rotate(180deg);
}

.orange {
    stroke: hsl(0, 94%, 66%);
}


.faq-question:hover {
    color: hsl(0, 94%, 66%);
  }


.faq-answer  {
    display: none;
    color: rgb(167, 173, 173);
}

.faq-answer-show {
    display: block;
}

#FAQ-btn{
    margin: auto;
}

/* FAQ End*/

/* Subscribe */

.subscribe-container {
    text-align: center;
    background-color: hsl(231, 69%, 60%);
    color: #fff;
    padding: 20px;
}

.subscribe-inner {
    max-width: 400px;
    margin: auto;
}

.error-message {
    display: none;
    color: #FA5959;
    margin-top: 5px;
    font-size: 14px;
}

#error-icon {
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
}

#error-icon svg {
    width: 20px;
    height: 20px;
    vertical-align: middle;
}

#email-input.error {
    border: 2px solid #FA5959;
}



/* Subscribe End */

.footer {
    display: flex;
    flex-direction: row;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 100px;
    padding-right: 20px;
    background-color: rgb(35, 43, 77);
    color: #fff;
 }

.footer-inner {
    display: flex;
    align-items: center;
}
.nav-footer{
    display: flex;
}

.nav-link-footer {
    margin-left: 40px;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    line-height: 32px;
    color: rgb(255, 255, 255);
    cursor: pointer;
    transition: color 0.3s ease;
 }

.nav-link-footer:hover {
    color: hsl(0, 94%, 66%);
}
.footer-icon {
    display: flex;  
    padding-left: 550px;
    justify-content: space-between;
    gap: 30px;
}

#svg-path {
    transition: fill 0.3s ease;
}

#svg-path:hover {
    fill: hsl(0, 94%, 66%);
}